.header {
  /* height: 80px; */
  background-color: #0049a6;
  padding-left: 1%;
  padding-right: 1%;
}

footer.page-footer {
  background-color: #0049a6;
}

.topPad {
  padding-top: 25px;
}

/* Info cards */

.card-panel {
  padding: 10px;
  background-color: #0049a6;
}

.info {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
}

/* fonts */
.row {
  font-family: 'Lora', serif;
}

a {
  font-family: 'Lora', serif;
}
